{{#view 'profile/profile-layout'}}
    <div class="edit-panel">
        <div class="panel-header">
            Change Your Password
        </div>
        <div class="panel-content">
            <div class="form-row clearfix">
                <label>Current Password</label>
                <div class="col">
                  {{input type="password" autocomplete="off" placeholder="current password" value=model.oldPassword}}
                </div>
            </div>
            <div class="form-row clearfix">
                <label class="col-md-3 control-label">New Password</label>
                <div class="col">
                  {{input type="password" autocomplete="off" placeholder="new password" value=model.password}}
                </div>
            </div>
            <div class="form-row clearfix">
                <label>New Password Again</label>
                <div class="col">
                  {{input type="password" autocomplete="off" placeholder="new password again" value=model.passwordConfirmation}}
                </div>
            </div>
            <div class="form-footer">
                <button class="op-btn btn-save" type="submit" {{action "save" model}}>Save</button>
            </div>
        </div>
    </div>
{{/view}}
