{{#view 'profile/profile-layout'}}
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label>First name</label>
                <input type="text" class="form-control" id="firstname_booking" name="firstname_booking">
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label>Last name</label>
                <input type="text" class="form-control" id="lastname_booking" name="lastname_booking">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label>First name</label>
              {{select-2
              content=pizzas
              value=favouritePizza
              placeholder="Choose your pizza"
              allowClear=true
              }}
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label>Last name</label>
              {{date-picker date=mydate valueFormat='YYYY-MM-DD'}}
            </div>
        </div>
    </div>
    <a href="#" class=" btn_full">Save</a>
{{/view}}
