{{#view 'profile/profile-layout'}}
    <div class="row">
        <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s;">
            <div class="feature">
                <i class="icon_set_1_icon-57"></i>
                <h3><span>H24</span> Support</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
        <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
            <div class="feature">
                <i class="icon_set_1_icon-61"></i>
                <h3><span>10 Languages</span> available</h3>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                </p>
            </div>
        </div>
    </div>
{{/view}}
