{{#view 'profile/profile-layout'}}
    <div class="edit-panel">
        <div class="panel-header">
            Photo
        </div>
        <div class="panel-content">
            <div class="photo-preview">
                {{#if session.user.logo.downloadFilePath}}
                    <a class="slide-img" style="background-image: url({{session.user.logo.downloadFilePath}})"></a>
                {{else}}
                    <a class="slide-img" style="background-image: url(images/user_unknown.png)"></a>
                {{/if}}
                <div class="overlay"></div>
            </div>
            <div class="photo-op">
                {{#if session.user.logo}}
                  {{em-file-field name="logo" id="upload_photo" style="display: none;" url=uploadUrl accept="image/*" document=session.user.logo}}
                {{/if}}
                <button id="btn_add_photo" class="op-btn btn-add-photo">Upload Photo</button>
            </div>
        </div>
    </div>
{{/view}}
