<div class="container margin_30">
    <div class="row">

        <aside class="col-lg-3 col-md-3">
            <div class="widget">
                <div id="tour_guide">
                    <p style="margin-bottom: 10px;">
                        <img src="/images/amaze_300x300.jpg" alt="" style="width:170px;" class="img-circle styled">
                    </p>
                    <h5 style="margin:5px 0;font-weight:bold">John Doe</h5>
                    <p>Member Since May 2012</p>
                </div>
            </div><!-- End Search -->
            <div class="box_style_cat">
                <ul id="cat_nav">
                    <li>{{#link-to 'profile.dashboard'}}<i class="icon_set_1_icon-50"></i>Dashboard{{/link-to}}</li>
                    <li>{{#link-to 'profile.edit-profile'}}<i class="icon_set_1_icon-51"></i>Edit Profile{{/link-to}}</li>
                    <li>{{#link-to 'profile.photo'}}<i class="icon_set_1_icon-3"></i>Upload Photo{{/link-to}}</li>
                    <li>{{#link-to 'profile.change-password'}}<i class="icon_set_1_icon-4"></i>Security{{/link-to}}</li>
                    <li><a href="#"><i class="icon_set_1_icon-43"></i>Credit/Debit Cards</a></li>
                </ul>
            </div>
            <p>
              {{#link-to 'profile.view' class="btn_map"}}View Profile{{/link-to}}
            </p>
        </aside>

        <div class="col-md-9">

          {{#if isFull}}
            {{yield}}
          {{else}}
            {{yield}}
          {{/if}}
        </div><!-- End col-md-9-->
    </div><!-- End row-->
</div><!-- End container -->
