<div class="container margin_30">
    <div class="row">

        <aside class="col-lg-3 col-md-3">
            <div class="widget">
                <div id="tour_guide">
                    <p style="margin-bottom: 10px;">
                      {{#if session.user.logo.downloadFilePath}}
                          <img src={{session.user.logo.downloadFilePath}} alt="" style="width:170px;" class="img-circle styled"/>
                      {{else}}
                          <img src="/images/user_unknown.png" alt="" style="width:170px;" class="img-circle styled">
                      {{/if}}
                    </p>
                    <h5 style="margin:5px 0;font-weight:bold">{{model.firstName}}</h5>
                    <p>Member Since May 2012</p>
                </div>
            </div><!-- End Search -->
            <hr>
            <div class="other_tours ">
                <ul>
                    <li>{{#link-to 'profile.dashboard'}}<i class="icon_set_1_icon-50"></i>Dashboard<span class="other_tours_price"><span style="color:rgb(0,150,163)" class=" icon-ok"></span></span>{{/link-to}}</li>
                    <li>{{#link-to 'profile.edit-profile'}}<i class="icon_set_1_icon-51"></i>Edit Profile<span class="other_tours_price"><span style="color:rgb(0,150,163)" class=" icon-ok"></span></span>{{/link-to}}</li>
                    <li>{{#link-to 'profile.photo'}}<i class="icon_set_1_icon-3"></i>Upload Photo<span class="other_tours_price"><span style="color:rgb(0,150,163)" class=" icon-ok"></span></span>{{/link-to}}</li>
                    <li>{{#link-to 'profile.change-password'}}<i class="icon_set_1_icon-4"></i>Security<span class="other_tours_price"><span class=" icon-ok"></span></span>{{/link-to}}</li>
                    <li><a href="#"><i class="icon_set_1_icon-43"></i>Credit/Debit Cards<span class="other_tours_price"><span  class=" icon-ok"></span></span></a></li>
                </ul>
            </div>
            <hr>
            <p>
              {{#link-to 'profile.view' class="btn_map"}}View Profile{{/link-to}}
            </p>
        </aside>

        <div class="col-md-9" style="padding-left:30px;">
          {{yield}}
        </div><!-- End col-md-9-->
    </div><!-- End row-->
</div><!-- End container -->
