<section class="parallax-window" style="min-height:270px;" data-parallax="scroll" data-image-src="/images/bg_blog.jpg" data-natural-width="1400" data-natural-height="270">
    <div class="parallax-content-1" style="height:270px;">
        <div class="animated fadeInDown">
            <h1>Tour Blog</h1>
            <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p></div>
    </div>
</section><!-- End section -->
<div id="position">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Category</a></li>
            <li>Page active</li>
        </ul>
    </div>
</div><!-- End position -->

<div class="white_bg">
    <div class=" container" style="padding-top:25px; padding-bottom:15px;">
        <div class="row">
            <div class="col-md-2">
                <div class="widget">
                    <div id="tour_guide">
                        <p>
                            <img src="/images/testimonial_1.jpg" alt="" style="width:180px;float:left" class="img-circle styled">
                        </p>
                    </div>
                </div><!-- End Search -->
            </div>
            <div class="col-md-10" style="padding-left:20px;">
                <h1>Liu Xiao Jie</h1>
                <h5>Member Since May 2014</h5>
                <h4  style="margin-top:45px;margin-bottom: 5px;">USA</h4>
                <h4  style="  margin-top: 5px; margin-bottom: 5px;">Specialist</h4>
                <h4 style="  margin-top: 5px; margin-bottom: 5px;">Guy</h4>
            </div>
        </div>
    </div>
</div>
<style>
    td:first-child {
        padding-right: 20px;
        font-weight: bold;
    }
</style>
<div class="container"  style="padding-top:15px; padding-bottom:60px;">
    <div class="row">
        <div class="col-md-7 col-md-offset-2" style="padding-right:20px;padding-left:20px;">
            <h3>About Me</h3>
            <p style="margin-top:30px;font-size: 14px;line-height: 1.6;">In the heart of the most romanticised Shanghai neighbourhood, our Yongkang studio is tucked quietly at the end of an authentic Shanghainese lane community, just steps away from the vibrant energy of Yongkang Road in the former French Qtr.</p>
            <hr style="margin-top:40px;margin-bottom:40px;">
            <table>
                <thead>
                    <tr>
                        <td style="padding-right:20px;"></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        E-Mail
                    </td>
                    <td >
                        liuxiaojie@qq.com
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone Number
                    </td>
                    <td >
                        +86 1378888888
                    </td>
                </tr>
                <tr>
                    <td>
                        WeChart
                    </td>
                    <td >
                        Appleseed
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <aside class="col-md-3">
            <h3 style="margin-bottom:30px;">Listing (1)</h3>
            <img src="/images/tour_box_8.jpg" width="800" height="333" class="img-responsive" alt="">
            <a>View all Listings</a>
        </aside>
    </div>
</div>