.overlay{
  z-index:100000
}
.panel{
  border-radius:0;
}
.sticky{
  height:0;
  padding-top:0;
}

ul#top_links li{
  border-left:none;
  padding-left:15px;
}
a.btn_1, .btn_1{
  border-radius: 0px;
}
.btn-blue{
  text-transform: none !important;
  background: rgb(0,150,163) !important;
}
.listing ul.stats {
  list-style-type: none;
}

.listing ul.stats li {
  width: 33.33333333%;
  text-align: left;
  float: left;
  font-size: 10px;
  line-height: 10px;
  color: #999;
  /*border-left: 1px solid #e8e8e8;*/
  /*padding: 11px 0;*/
}

.listing ul.stats li span {
  display: block;
  font-size: 25px;
  line-height: 1.4;
  color: rgb(74, 74, 74);
}

.un-calendar {
  font-size: 14px;
  background: #fff; }

.un-calendar-months:after {
  content: "";
  display: table;
  clear: both; }

.un-calendar-month-container {
  width: 200px;
  float: left;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.un-calendar-month {
  margin: 0;
  padding: 0; }

.un-calendar-header {
  position: relative;
  line-height: 22px; }
.un-calendar-header h1 {
  font-size: 14px;
  text-align: center; }
.un-calendar-header button {
  position: absolute;
  top: 0; }

.un-calendar-prev {
  left: 0; }

.un-calendar-next {
  right: 0; }

.un-calendar-today {
  right: 30px; }

.un-calendar-slot {
  float: left;
  list-style: none;
  text-align: center;
  line-height: 30px;
  padding: 0;
  margin: 0;
  width: 14.28%;
  height: 30px;
  border: 1px solid #eee;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.un-calendar-slot.is-today {
  background: #edc; }
.un-calendar-slot.is-selected {
  background: #cde; }
.un-calendar-slot.is-disabled {
  background: #eee;
  color: #999;
  cursor: default; }

.un-calendar-day {
  cursor: pointer; }

.un-calendar-empty {
  cursor: default;
  background: #eee; }
.un-calendar header{
  position: absolute !important;
  top:35px;
  width: inherit !important;
}
.un-calendar nav{
  padding-top: 10px !important;
}
a.button_drop, .button_drop{
  text-transform: none;
}
.modal{
  display: block;
}


