{{#view 'account/account-layout'}}
    <div class="order-area">
        <div class="order-header">
            <ul>
                <a href="javascript:;">
                    <li class="active"><span>Payable</span></li>
                </a>
                <a href="javascript:;">
                    <li>
                        <span>Paid</span></li>
                </a>
                <a href="javascript:;">
                    <li><span>Gross</span></li>
                </a>
            </ul>
        </div>
        <div class="order-list">
            <div class="single-order order-list-header clearfix">
                <p>Total 88888</p>
            </div>
            <div class="single-order order-list-header clearfix">
                <div class="pay-date">
                    <p>Date</p>
                </div>
                <div class="rent-info">
                    <p>Dates and Location</p>
                </div>
                <div class="guest">
                    <p>Guest</p>
                </div>
                <div class="operation">
                    <p>Details</p>
                </div>
            </div>
            <div class="single-order clearfix">
                <div class="pay-date">
                    <p>5 days later</p>
                    <p>06/18/2015</p>
                </div>
                <div class="rent-info">
                    <p>Apr 28 - Jun 26, 2015</p>
                    <a>江宁路/康定路 1033,Shanghai, Shanghai 200086</a>
                </div>
                <div class="guest">
                    <img class="user-header" src="/images/static/LISA_100.jpg"/>
                    <div class="guest-info">
                        <p>Akin Igue</p>
                        <a href="#">Send Message</a>
                        <p>+86 18888888888</p>
                    </div>
                </div>
                <div class="operation">
                    <p>&yen;1023 per month</p>
                    <a href="#">Edit tenant</a>
                </div>
            </div>
            <div class="single-order clearfix">
                <div class="pay-date">
                    <p>5 days later</p>
                    <p>06/18/2015</p>
                </div>
                <div class="rent-info">
                    <p>Apr 28 - Jun 26, 2015</p>
                    <a>江宁路/康定路 1033,Shanghai, Shanghai 200086</a>
                </div>
                <div class="guest">
                    <img class="user-header" src="/images/static/LISA_100.jpg"/>
                    <div class="guest-info">
                        <p>Akin Igue</p>
                        <a href="#">Send Message</a>
                        <p>+86 18888888888</p>
                    </div>
                </div>
                <div class="operation">
                    <p>&yen;1023 per month</p>
                    <a href="#">Edit tenant</a>
                </div>
            </div>
            <div class="single-order clearfix">
                <div class="pay-date">
                    <p>5 days later</p>
                    <p>06/18/2015</p>
                </div>
                <div class="rent-info">
                    <p>Apr 28 - Jun 26, 2015</p>
                    <a>江宁路/康定路 1033,Shanghai, Shanghai 200086</a>
                </div>
                <div class="guest">
                    <img class="user-header" src="/images/static/LISA_100.jpg"/>
                    <div class="guest-info">
                        <p>Akin Igue</p>
                        <a href="#">Send Message</a>
                        <p>+86 18888888888</p>
                    </div>
                </div>
                <div class="operation">
                    <p>&yen;1023 per month</p>
                    <a href="#">Edit tenant</a>
                </div>
            </div>
            <div class="single-order clearfix">
                <div class="pay-date">
                    <p>5 days later</p>
                    <p>06/18/2015</p>
                </div>
                <div class="rent-info">
                    <p>Apr 28 - Jun 26, 2015</p>
                    <a>江宁路/康定路 1033,Shanghai, Shanghai 200086</a>
                </div>
                <div class="guest">
                    <img class="user-header" src="/images/static/LISA_100.jpg"/>
                    <div class="guest-info">
                        <p>Akin Igue</p>
                        <a href="#">Send Message</a>
                        <p>+86 18888888888</p>
                    </div>
                </div>
                <div class="operation">
                    <p>&yen;1023 per month</p>
                    <a href="#">Edit tenant</a>
                </div>
            </div>
            <div class="single-order clearfix">
                <div class="pay-date">
                    <p>5 days later</p>
                    <p>06/18/2015</p>
                </div>
                <div class="rent-info">
                    <p>Apr 28 - Jun 26, 2015</p>
                    <a>江宁路/康定路 1033,Shanghai, Shanghai 200086</a>
                </div>
                <div class="guest">
                    <img class="user-header" src="/images/static/LISA_100.jpg"/>
                    <div class="guest-info">
                        <p>Akin Igue</p>
                        <a href="#">Send Message</a>
                        <p>+86 18888888888</p>
                    </div>
                </div>
                <div class="operation">
                    <p>&yen;1023 per month</p>
                    <a href="#">Edit tenant</a>
                </div>
            </div>
            <div class="single-order clearfix">
                <div class="pay-date">
                    <p>5 days later</p>
                    <p>06/18/2015</p>
                </div>
                <div class="rent-info">
                    <p>Apr 28 - Jun 26, 2015</p>
                    <a>江宁路/康定路 1033,Shanghai, Shanghai 200086</a>
                </div>
                <div class="guest">
                    <img class="user-header" src="/images/static/LISA_100.jpg"/>
                    <div class="guest-info">
                        <p>Akin Igue</p>
                        <a href="#">Send Message</a>
                        <p>+86 18888888888</p>
                    </div>
                </div>
                <div class="operation">
                    <p>&yen;1023 per month</p>
                    <a href="#">Edit tenant</a>
                </div>
            </div>

            <div class="list-footer clearfix">
                <div class="pagination fr">
                    <ul>
                        <a href=""><li class="nav"><span class="triangle prev"></span></li></a>
                        <a href=""><li class="active">1</li></a>
                        <a href=""><li>2</li></a>
                        <a href=""><li>3</li></a>
                        <a href=""><li>4</li></a>
                        <li class="filter">...</li>
                        <a href=""><li>120</li></a>
                        <a href=""><li>121</li></a>
                        <a href=""><li class="nav"><span class="triangle next"></span></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/view}}
