<h2>Calendar</h2>
<div style="background:rgb(229,245,246) ;border:1px solid rgb(229, 245, 246);padding-top:3px;padding-left:10px; height: 80px;margin-top:20px;width: 100%">
    <img style="border-radius:50%;width:60px;margin-right:10px;border:1px solid white" src="images/LISA_100.jpg" title="Lisa">
    <span style="display: inline-block;margin-left:20px;font-size:18px;padding-top:26px;font-weight: bold;">Starting day of you listing?</span>
</div>
<div class="box_style_2" style="border-top:none;border-radius: 0">

</div>