<section class="parallax-window" data-parallax="scroll" data-image-src="/images/home_bg_1.jpg" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Paris tours</h1>
            <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
        </div>
    </div>
</section><!-- End section -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <aside class="sidebar-left">
                <ul class="nav nav-pills nav-stacked nav-side mb30">
                    <li>
                        <a href="javascript:;">Apartment</a>
                    </li>
                </ul>
            </aside>
        </div>
        <style>
            .panel-line .bordered-row > .form-group {
                padding-top:15px;
                padding-bottom: 15px;
            }
        </style>
        <div class="col-md-9 panel-line">
            <div class="panel">
                <div class="panel-body" style="padding-bottom: 0;padding-left:0">

                </div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>
