<div class="container margin_30" style="margin-top: 60px;">
    <div class="main_title">
        <h2>List <span>Your</span> Room</h2>
        <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 nopadding ">
            <div class="features-content" style="background: rgb(0,150,163)">
                <h3>"Entire Apartment"</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <p><a href="#" class=" btn_1 white">Selected</a></p>
            </div>
        </div>
        <div class="col-md-6 nopadding">
            <div class="features-content">
                <h3>"Private Room"</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <p><a href="#" class=" btn_1 white">Selected</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row margin_30">
        <div class="col-md-3 wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation-delay: 0.1s;">
            <div class="feature">
                <i class="icon_set_1_icon-30"></i>
                <h3 style="margin-top: 10px;"><span>+ 1000</span> Customers</h3>

            </div>
        </div>
        <div class="col-md-3 wow fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s;">
            <div class="feature">
                <i class="icon_set_1_icon-41"></i>
                <h3 style="margin-top: 10px;"><span>+ 1000</span> Customers</h3>
            </div>
        </div>
        <div class="col-md-3 wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s;">
            <div class="feature">
                <i class="icon_set_1_icon-57"></i>
                <h3  style="margin-top: 10px;"><span>H24</span> Support</h3>
            </div>
        </div>
        <div class="col-md-3 wow fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
            <div class="feature">
                <i class="icon_set_1_icon-61"></i>
                <h3  style="margin-top: 10px;"><span>10</span> Languages</h3>

            </div>
        </div>
    </div>
</div>
