<div class="white_bg">
    <div class="container margin_60" style="padding-top:10px;">
        <div class="row">
            <aside class="col-lg-3 col-md-3">
                <h2>List Your Apt</h2>
                <div class="other_tours " style="position: relative; margin-top:20px;background: rgb(247,247,247);padding: 10px 15px 15px 15px;min-height: 500px;">
                    <ul>
                        <li><a href="javascript:;" {{action "changeStep" 1}}>Calendar<span class="other_tours_price"><span style="color:rgb(0,150,163)" class=" icon-ok"></span></span></a></li>
                        <li><a href="javascript:;" {{action "changeStep" 2}}>Overview <span class="other_tours_price"><span  class=" icon-ok"></span></span></a></li>
                        <li><a href="javascript:;" {{action "changeStep" 3}}>Photo<span class="other_tours_price"><span  class=" icon-ok"></span></span></a></li>
                        <li><a href="javascript:;" {{action "changeStep" 4}}>Map<span class="other_tours_price"><span class=" icon-ok"></span></span></a></li>
                    </ul>
                    <div style="position: absolute;bottom:80px;width:88%;text-align: center;font-weight: bold;font-size:15px;">4 steps to</div>
                    <div style="position: absolute;background: rgb(219,219,219);padding: 15px 5px; bottom: 20px;color: white;width: 88%;font-size: 17px;text-align: center;">List the room</div>
                </div>
            </aside>
            <div class="col-md-8 col-md-offset-1">
              {{#if (eq step 1)}}
                  <h2>Calendar</h2>
                  <div style="background:rgb(229,245,246) ;border:1px solid rgb(229, 245, 246);padding-top:3px;padding-left:10px; height: 80px;margin-top:20px;width: 100%">
                      <img style="border-radius:50%;width:60px;margin-right:10px;border:1px solid white" src="images/LISA_100.jpg" title="Lisa">
                      <span style="display: inline-block;margin-left:20px;font-size:18px;padding-top:26px;font-weight: bold;">Starting day of you listing?</span>
                  </div>
                  <div class="box_style_2" style="border-top:none;border-radius: 0">

                  </div>
                  <a href="javascript:;" class="btn_1 pull-right">Next</a>
              {{/if}}
              {{#if (eq step 2)}}
                  <h2>Basics</h2>
                  <div style="background:rgb(229,245,246) ;border:1px solid rgb(229, 245, 246);padding-top:3px;padding-left:10px; height: 80px;margin-top:20px;width: 100%">
                      <img style="border-radius:50%;width:60px;margin-right:10px;border:1px solid white" src="images/LISA_100.jpg" title="Lisa">
                      <span style="display: inline-block;margin-left:20px;font-size:18px;padding-top:26px;font-weight: bold;">Starting day of you listing?</span>
                  </div>
                  <div style="margin-top:20px;margin-bottom:20px; border:1px solid rgb(217, 217, 217);padding-top:3px;padding-left:10px; height: 80px;margin-top:20px;width: 100%">
                      <span class="radius-number-1 radius-number-gary" style="display: inline-block;margin-right:5px;">A</span>
                      <span class="radius-number-1 radius-number-gary" style="display: inline-block;margin-right:5px;">B</span>
                      <span class="radius-number-1 radius-number-gary" style="display: inline-block;margin-right:5px;">C</span>
                      <span style="display: inline-block;margin-left:40px;color:rgb(202,202,202);font-size:15px;padding-top:26px;font-weight: bold;">Hongkou → Si He Yuan, 154 → Apt. 10</span>
                  </div>
                  <div class="box_style_2" style="border-top:none;border-radius: 0">

                  </div>
                  <a href="javascript:;" class="btn_1 pull-right">Next</a>
              {{/if}}
            </div>
        </div>
    </div>
</div>