<style>
    .bg-red {
        color: #fff;
        border-color: #cf4436;
        background: #e74c3c;
    }

    .bg-green {
        color: #fff;
        border-color: #008000;
        background: #008000;
    }

    .status-badge {
        position: relative;
        display: inline-block;
    }
    .small-badge{
        float:right;
        margin-top:26px;
    }

    .status-badge .small-badge {
        position: absolute;
        right: 1px;
        bottom: 1px;
    }
    .small-badge {
        overflow: hidden;
        width: 15px;
        height: 15px;
        padding: 0;
        border: #fff solid 2px !important;
        border-radius: 20px;
    }
    .panel-heading{
        padding-top:17px;
        padding-bottom:17px;
    }
    .img_list a img{
        height:120px;
    }
    .img_list{
        min-height:120px;
    }
    .img_list img{
        height:120px;
    }
    .radius-number{
        background-color:rgb(113,113,113);
        text-align:center;
        width:40px;
        height:40px;
        margin-top:35px;
        display:inline-block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        color:#fff;
        font-size:18px;
        line-height:40px;
        text-align:center;
        /* position:absolute; */
        left:0;
        top:0;
    }
    .panel-collapse .col-lg-3 {
        width:22%;
    }
    .panel-collapse .col-md-3 {
        width:22%;
    }
    .panel-collapse .col-sm-3 {
        width:22%;
    }
</style>

<div class="container margin_30">
    <div class="row">
        <aside class="col-lg-2 col-md-2">
            <div class="box_style_cat">
                <ul id="cat_nav">
                    {{#each statistics as |statistic| }}
                        <li><a href="javascript:;" id="{{if (eq status statistic.type) 'active'}}" {{action "queryHouse" statistic.type}} >
                            <i class="icon_set_1_icon-64"></i>{{statistic.type}}<span>({{statistic.count}})</span></a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </aside>
        <div class="col-md-10">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Anim pariatur cliche reprehenderit?<i class="indicator icon-up-open-2 pull-right"></i></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <span class="radius-number">A</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" style=" padding-left: 0;">
                                    <div class="img_list"><img src="images/tour_box_1.jpg" alt=""> </div>
                                </div>
                                <div class="clearfix visible-xs-block"></div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style=" padding-left: 0px;">
                                    <div class="tour_list_desc" style="padding-top:20px;height: 110px;">
                                        <h3><strong>Arch Triomphe</strong> tour</h3>
                                        <p>Lorem ipsum dolor sit amet, quem convenire interesset ut vix, ad dicat sanctus detracto vis. Eos modus dolorum ex, qui adipisci maiestatis inciderint no, eos in elit dicat.....</p>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2" style=" padding-right: 0px;padding-top: 35px;">
                                    <div class="styled-select-filters">
                                        <select name="sort_price" id="sort_price">
                                            <option value="" selected="">Sort by price</option>
                                            <option value="lower">Lowest price</option>
                                            <option value="higher">Highest price</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <span class="radius-number">B</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" style=" padding-left: 0px;">
                                    <div class="img_list"><img src="images/tour_box_1.jpg" alt=""> </div>
                                </div>
                                <div class="clearfix visible-xs-block"></div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style=" padding-left: 0px;">
                                    <div class="tour_list_desc" style="padding-top:20px;height: 110px;">
                                        <h3><strong>Arch Triomphe</strong> tour</h3>
                                        <p>Lorem ipsum dolor sit amet, quem convenire interesset ut vix, ad dicat sanctus detracto vis. Eos modus dolorum ex, qui adipisci maiestatis inciderint no, eos in elit dicat.....</p>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2" style=" padding-right: 0px;padding-top: 35px;">
                                    <div class="styled-select-filters">
                                        <select name="sort_price" id="sort_price">
                                            <option value="" selected="">Sort by price</option>
                                            <option value="lower">Lowest price</option>
                                            <option value="higher">Highest price</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <span class="radius-number">C</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" style=" padding-left: 0px;">
                                    <div class="img_list"><img src="images/tour_box_1.jpg" alt=""> </div>
                                </div>
                                <div class="clearfix visible-xs-block"></div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style=" padding-left: 0px;">
                                    <div class="tour_list_desc" style="padding-top:20px;height: 110px;">
                                        <h3><strong>Arch Triomphe</strong> tour</h3>
                                        <p>Lorem ipsum dolor sit amet, quem convenire interesset ut vix, ad dicat sanctus detracto vis. Eos modus dolorum ex, qui adipisci maiestatis inciderint no, eos in elit dicat.....</p>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2" style=" padding-right: 0px;padding-top: 35px;">
                                    <div class="styled-select-filters">
                                        <select name="sort_price" id="sort_price">
                                            <option value="" selected="">Sort by price</option>
                                            <option value="lower">Lowest price</option>
                                            <option value="higher">Highest price</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" style="color:rgb(202,202,202)">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Parsnip lotus root celery?<i class="indicator  icon-down-open-2 pull-right"></i></a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" style="color:rgb(202,202,202)">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Beet greens peanut salad?<i class="indicator  icon-down-open-2 pull-right"></i></a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
