<div class="white_bg">
    <div class="container margin_60" style="padding-top:10px;">
        <div class="row">
            <aside class="col-lg-3 col-md-3">
                <h2>List Your Apt</h2>
                <div class="other_tours " style="position: relative; margin-top:20px;background: rgb(247,247,247);padding: 10px 15px 15px 15px;min-height: 500px;">
                    <ul>
                        <li><a class="active" href="/profile/dashboard">Calendar<span class="other_tours_price"><span style="color:rgb(0,150,163)" class=" icon-ok"></span></span></a></li>
                        <li><a href="/profile/edit-profile">Overview <span class="other_tours_price"><span  class=" icon-ok"></span></span></a></li>
                        <li><a href="/profile/photo">Photo<span class="other_tours_price"><span  class=" icon-ok"></span></span></a></li>
                        <li><a href="/profile/change-password">Map<span class="other_tours_price"><span class=" icon-ok"></span></span></a></li>
                    </ul>
                    <div style="position: absolute;bottom:80px;width:88%;text-align: center;font-weight: bold;font-size:15px;">4 steps to</div>
                    <div style="position: absolute;background: rgb(219,219,219);padding: 15px 5px; bottom: 20px;color: white;width: 88%;font-size: 17px;text-align: center;">List the room</div>
                </div>
            </aside>
            <div class="col-md-8 col-md-offset-1">
                <h2>Calendar</h2>
                <div style="background:rgb(229,245,246) ;border:1px solid rgb(229, 245, 246);padding-top:3px;padding-left:10px; height: 80px;margin-top:20px;width: 100%">
                    <img style="border-radius:50%;width:60px;margin-right:10px;border:1px solid white" src="images/LISA_100.jpg" title="Lisa">
                    <span style="display: inline-block;margin-left:20px;font-size:18px;padding-top:26px;font-weight: bold;">Starting day of you listing?</span>
                </div>
                <div class="box_style_2" style="border-top:none;border-radius: 0">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="white_bg">
    <div class="container margin_60" style="padding-top:10px;">
        <div class="row">
            <aside class="col-lg-4 col-md-4">
                <h2>List Your Apt</h2>
                <div class="other_tours left_other_tours col-md-6" style="margin-top:20px;background: rgb(251,251,251);padding: 0;min-height: 500px;">
                    <ul>
                        <li class="active"><a class="active" href="/profile/dashboard">Calendar<span class="other_tours_price"><span style="color:rgb(0,150,163)" class=" icon-ok"></span></span></a></li>
                        <li><a href="javascript:;" style="color: rgb(235,235,235)">Rooms (4)</a></li>
                        <li><a href="javascript:;"><span class="radius-number-1 radius-number-gary">A</span></a> </li>
                        <li><a href="javascript:;"><span class="radius-number-1 radius-number-gary">B</span></a> </li>
                        <li><a href="javascript:;"><span class="radius-number-1 radius-number-gary">C</span></a> </li>
                        <li><a href="javascript:;"><span class="radius-number-1 radius-number-gary">D</span></a> </li>
                    </ul>
                </div>
                <div class="other_tours col-md-6" style="margin-top:20px;background: rgb(247,247,247);padding: 10px 15px 15px 15px;min-height: 500px;">
                    <ul>
                        <li><a class="active" href="/profile/dashboard">Calendar<span class="other_tours_price"><span style="color:rgb(0,150,163)" class=" icon-ok"></span></span></a></li>
                        <li><a href="/profile/edit-profile">Overview <span class="other_tours_price"><span  class=" icon-ok"></span></span></a></li>
                        <li><a href="/profile/photo">Photo<span class="other_tours_price"><span  class=" icon-ok"></span></span></a></li>
                        <li><a href="/profile/change-password">Map<span class="other_tours_price"><span class=" icon-ok"></span></span></a></li>
                    </ul>
                </div>
            </aside>
            <div class="col-md-8">
                <h2>Calendar</h2>
                <div style="background:rgb(229,245,246) ;border:1px solid rgb(229, 245, 246);padding-top:3px;padding-left:10px; height: 80px;margin-top:20px;width: 100%">
                    <img style="border-radius:50%;width:60px;margin-right:10px;border:1px solid white" src="images/LISA_100.jpg" title="Lisa">
                    <span style="display: inline-block;margin-left:20px;font-size:18px;padding-top:26px;font-weight: bold;">Starting day of you listing?</span>
                </div>
                <div class="box_style_2" style="border-top:none;border-radius: 0;padding:10px 0;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1" style="margin-top:3px;">
                                <span class="radius-number" style="margin-top: 0">A</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: left">
                                <div class="styled-select-filters" style="display: inline-block;width: 55%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                                <div class="img_list"><img src="images/tour_box_1.jpg" alt=""> </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <div class="styled-select-filters" style="display: inline-block;width: 33%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                                <div class="styled-select-filters" style="display: inline-block;width: 32%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                                <div class="styled-select-filters" style="display: inline-block;width: 30%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="panel-body"  style="background: rgb(247,247,247)">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1" style="margin-top:3px;">
                                <span class="radius-number" style="margin-top: 0">A</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: left">
                                <div class="styled-select-filters" style="display: inline-block;width: 55%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                                <div class="img_list"><img src="images/tour_box_1.jpg" alt=""> </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <div class="styled-select-filters" style="display: inline-block;width: 33%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                                <div class="styled-select-filters" style="display: inline-block;width: 32%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                                <div class="styled-select-filters" style="display: inline-block;width: 30%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="panel-body" style="background: rgb(250,244,244)">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1" style="margin-top:3px;">
                                <span class="radius-number" style="margin-top: 0">A</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: left">
                                <div class="styled-select-filters" style="display: inline-block;width: 55%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                                <div class="img_list"><img src="images/tour_box_1.jpg" alt=""> </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <div class="styled-select-filters" style="display: inline-block;width: 33%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                                <div class="styled-select-filters" style="display: inline-block;width: 32%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                                <div class="styled-select-filters" style="display: inline-block;width: 30%">
                                    <select name="sort_price" id="sort_price">
                                        <option value="" selected="">Sort by price</option>
                                        <option value="lower">Lowest price</option>
                                        <option value="higher">Highest price</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body" style="border:2px dashed rgb(221,221,221);padding:30px 15px; ">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1" style="margin-top:3px;">
                            <span class="radius-number" style="margin-top: 0">+</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: left;padding-top: 8px;" >
                           <span style="font-weight: bold;font-size:16px;">Add a room</span>
                        </div>
                    </div>
                </div>


                <div style="margin-top:20px; border:1px solid rgb(217, 217, 217);padding-top:3px;padding-left:10px; height: 80px;margin-top:20px;width: 100%">
                    <span class="radius-number-1 radius-number-gary" style="display: inline-block;margin-right:5px;">A</span>
                    <span class="radius-number-1 radius-number-gary" style="display: inline-block;margin-right:5px;">B</span>
                    <span class="radius-number-1 radius-number-gary" style="display: inline-block;margin-right:5px;">C</span>
                    <span class="radius-number-1 radius-number-gary" style="display: inline-block;margin-right:5px;">D</span>
                    <span style="display: inline-block;margin-left:40px;color:rgb(202,202,202);font-size:15px;padding-top:26px;font-weight: bold;">Hongkou → Si He Yuan, 154 → Apt. 10</span>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .box_style_2 hr{
        margin:0 15px; !important;
    }
    .box_style_2 .panel-body{
        padding-top:30px;
        padding-bottom: 30px;;
    }
    .radius-number{
        background-color:rgb(113,113,113);
        text-align:center;
        width:30px;
        height:30px;
        margin-top:35px;
        display:inline-block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        color:#fff;
        font-size:16px;
        line-height:30px;
        text-align:center;
        /* position:absolute; */
        left:0;
        top:0;
    }
    .img_list{
        height: 70px;;
        min-height:70px;
        display: inline;
        margin-left: 20px;
    }
    .img_list img{
        border-radius: 50%;
        width: 70px;
        height: 70px;
        top:-35px;
    }
    .radius-number-gary{
        background: rgb(234,234,234) !important;
        color: rgb(250,250,250) !important;
    }
    .radius-number-1{
        border:1px solid rgb(234,234,234);
        color:#f7941d;
        margin-top: 0px;
        padding-top: 5px;
        text-align:center;
        width:30px;
        height:30px;
        display:inline-block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-size:16px;
        text-align:center;
        /* position:absolute; */
        left:0;
        top:0;
    }
    .left_other_tours .active{
        background: rgb(247,247,247) !important;
    }
    .other_tours_price{
        margin-top:0;
    }
    .other_tours ul li a{
        border-bottom: none;
    }
    .left_other_tours ul li{
        padding: 0px 15px 0px 15px;
    }
    .left_other_tours ul li:first-child{
        padding-top:10px;
    }
</style>