{{partial 'navigation'}}
<div class="white_bg">
    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3 col-md-3">
                <div class="widget">
                    <div id="tour_guide">
                        <p style="margin-bottom: 10px;">
                            <img src="/images/amaze_300x300.jpg" alt="" style="width:170px;" class="img-circle styled">
                        </p>
                        <h5 style="margin:5px 0;font-weight:bold">John Doe</h5>
                        <p>Member Since May 2012</p>
                    </div>
                </div><!-- End Search -->
                <hr>
                <div class="other_tours ">
                    <ul>
                        <li><a href="#"><i class="icon_set_1_icon-3"></i>All Messages<span class="other_tours_price">42</span></a>
                        </li>
                        <li><a href="#"><i class="icon_set_1_icon-30"></i>Drafts<span class="other_tours_price">35</span></a>
                        </li>
                        <li><a href="#"><i class="icon_set_1_icon-44"></i>Trash<span class="other_tours_price">20</span></a>
                        </li>
                    </ul>
                </div>
            </aside>

            <div class="col-md-9 ">
                <div class="message-list-overlay"></div>

                <ul class="list-material message-list" style="border:1px solid rgb(225,225,225)">
                    <li class="has-action-left has-action-right ">
                      {{#link-to 'inbox.detail' class="visible" }}
                          <div class="list-action-left">
                              <img src="/images/amaze_300x300.jpg" class="face-radius" alt="">
                          </div>
                          <div class="list-content">
                              <span class="title">Pari Subramanium</span>
                              <span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
                          </div>
                          <div class="list-action-right">
                              <span class="top">15 min</span>
                              <i class="icon-record bottom" style="color:green"></i>
                          </div>
                      {{/link-to}}
                    </li>
                    <li class="has-action-left has-action-right selected">
                      {{#link-to 'inbox.detail' class="visible" }}
                          <div class="list-action-left">
                              <img src="/images/amaze_300x300.jpg" class="face-radius" alt="">
                          </div>
                          <div class="list-content">
                              <span class="title">Joshua Harris</span>
                              <span class="caption">Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms.</span>
                          </div>
                          <div class="list-action-right">
                              <span class="top">Jan 10, 2015</span>
                              <i class=" icon_set_1_icon-76 bottom"></i>
                          </div>
                      {{/link-to}}
                    </li>
                    <li class="has-action-left has-action-right selected">
                      {{#link-to 'inbox.detail' class="visible" }}
                          <div class="list-action-left">
                              <img src="/images/amaze_300x300.jpg" class="face-radius" alt="">
                          </div>
                          <div class="list-content">
                              <span class="title">Lisa Cooper</span>
                              <span class="caption">Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</span>
                          </div>
                          <div class="list-action-right">
                              <span class="top">Jan 5, 2015</span>
                              <i class=" icon_set_1_icon-76 bottom"></i>
                          </div>
                      {{/link-to}}
                    </li>
                    <li class="has-action-left has-action-right selected">
                        <a href="#" class="visible" data-message-id="2">
                            <div class="list-action-left">
                                <img src="/images/amaze_300x300.jpg" class="face-radius" alt="">
                            </div>
                            <div class="list-content">
                                <span class="title">Matthew Harris</span>
                                <span class="caption">Globally incubate standards compliant channels before scalable benefits. </span>
                            </div>
                            <div class="list-action-right">
                                <span class="top">Jan 4, 2015</span>
                                <i class=" icon_set_1_icon-76 bottom"></i>
                            </div>
                        </a>
                    </li>
                    <li class="has-action-left has-action-right selected">
                        <a href="#" class="visible" data-message-id="3">
                            <div class="list-action-left">
                                <img src="/images/amaze_300x300.jpg" class="face-radius" alt="">
                            </div>
                            <div class="list-content">
                                <span class="title">Diana Nguyen</span>
                                <span class="caption">Happy new yeaar!!</span>
                            </div>
                            <div class="list-action-right">
                                <span class="top">Jan 1, 2015</span>
                                <i class=" icon_set_1_icon-76 bottom"></i>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="text-right">
                    <ul class="pagination">
                        <li><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul></div>
            </div><!-- End col-md-9-->
        </div><!-- End row-->
    </div><!-- End container -->
</div>
<style>
    .selected .list-content {
        border-bottom-color: transparent;
    }
    .list-content .title {
        color: #3e50b4;
    }
    .list-action-left {
        left: 20px;
    }
    .message-list .selected a {
        background: rgb(247,247,247) !important;
    }
    .list-action-left img {
        width: 50px;
        height: 50px;
    }
    .list-content {
        margin-left: 90px;
    }
    .list-content .title {
        font-size: inherit;
    }
    .list-content .detail2 {
        color: rgba(0, 0, 0, 0.8);
        border-bottom-color: #f0f0f0;
    }
    .list-action-right {
        right: 30px;
        width: 75px;
        color: rgba(0, 0, 0, 0.3);
    }
    .list-material {
        position: relative;
        padding: 0;
        margin: 0;
        background: #fff;
    }
    .face-radius {
        border-radius: 50%;
    }
    .list-material > li {
        position: relative;
        list-style-type: none;
        overflow: hidden;
    }
    .list-material > li a.visible {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87);
        display: block;
        padding: 0 0 0 16px;
        -webkit-transition: 0.3s -webkit-transform cubic-bezier(0.17, 0.67, 0.6, 1.3);
        transition: 0.3s transform cubic-bezier(0.17, 0.67, 0.6, 1.3);
        background: #fff;
    }
    .list-material > li a.hidden {
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        background: #f0f0f0;
        box-shadow: inset 2px 0px 5px rgba(0, 0, 0, 0.1);
        width: 60px;
        height: 100%;
        color: rgba(0, 0, 0, 0.87);
        -webkit-transition: 0.3s all cubic-bezier(0.17, 0.67, 0.6, 1.3);
        transition: 0.3s all cubic-bezier(0.17, 0.67, 0.6, 1.3);
    }
    .list-material > li a.hidden i {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 22px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .list-material > li .list-content {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        padding: 25px 16px 25px 0;
        border-bottom: 1px solid rgb(225,225,225);
    }

    .list-material > li:first-child .list-content {
        border-bottom: none;
    }

    .list-material > li .list-content .title {
        font-size: 20px;
        font-weight: 400;
    }
    .list-material > li .list-content .caption {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);
    }
    .list-material > li .list-content .title,
    .list-material > li .list-content .caption {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .list-material > li .list-action-left {
        position: absolute;
        top: 50%;
        left: 0;
        padding: 0 16px;
        width: 72px;
        border-radius: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .list-material > li .list-action-left img {
        width: 50px;
        height: 50px;
    }
    .list-material > li .list-action-left .icon {
        position: relative;
        left: 0;
        top: 2px;
        width: 1em;
        font-size: 30px;
        line-height: 1;
        width: auto;
        height: auto;
        display: block;
        margin: 0;
        background-size: initial;
        text-align: center;
    }
    .list-material > li .list-action-left .icon-circle {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        background: #f0f0f0;
        padding: 5px;
        font-size: 20px;
    }
    .list-material > li .list-action-right {
        position: absolute;
        top: 0%;
        right: 16px;
        padding: 0;
        width: 70px;
        height: 100%;
        text-align: right;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.3);
    }
    .list-material > li .list-action-right i {
        font-size: 20px;
    }
    .list-material > li .list-action-right .top {
        position: absolute;
        top: 19px;
        right: 0;
    }
    .list-material > li .list-action-right .center {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .list-material > li .list-action-right .bottom {
        position: absolute;
        right: 0;
        bottom: 10px;
    }
    .list-material > li:last-child .list-content {
        border-bottom-color: transparent;
    }
    .list-material > li.has-action-left .list-content {
        margin-left: 85px;
    }
    .list-material > li.has-action-right .list-content {
        margin-right: 80px;
    }
    .list-material > li.has-long-story .list-action-left {
        top: 23px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .list-material > li.has-long-story .caption {
        white-space: inherit;
    }
    .list-material > li.divider {
        font-size: 14px;
        padding: 10px 16px 10px 16px;
        margin-top: 10px;
    }
    .list-material > li.divider.subheader {
        padding-left: 72px;
    }
    .list-material > li.divider.with-border {
        border-top: 1px solid #f0f0f0;
    }
    .list-material.has-hidden > li:hover .hidden {
        visibility: visible !important;
    }
    .list-material.has-hidden > li:hover a.visible {
        -webkit-transform: translate3d(-60px, 0, 0);
        transform: translate3d(-60px, 0, 0);
    }
    .list-material.borderless .list-content {
        border-bottom-color: transparent;
    }
</style>