<div class="footer">
    <div class="wrapper">
        <div class="col-4">
            <div class="header">
            </div>
        </div>
        <div class="col-4">
            <div class="header">
            </div>
        </div>
        <div class="col-4">
            <div class="header">
            </div>
        </div>
        <div class="col-4">
            <div class="header">
            </div>
            <div class="content">
            </div>
        </div>
    </div>
</div>