<!-- 首页导航 -->
<!-- 主体内容 -->
<div class="main-container">
    <!-- 首页大图 -->
    <div class="main-slide">
        <div class="single-slide">
            <div class="overlay-15"></div>
            <a class="slide-img" style="background-image: url(/images/static/index-slide-1.jpg)"></a>
            <a class="slide-img" style="background-image: url(/images/static/index-slide-1.jpg)"></a>
            <a class="slide-img" style="background-image: url(/images/static/index-slide-1.jpg)"></a>
            <a class="slide-img" style="background-image: url(/images/static/index-slide-1.jpg)"></a>
        </div>
        <div class="slide-info">
            <p class="slide-txt-2">Find a home at Shanghai</p>
            {{#link-to 'listing.list' }}
                <div class="btn-slide-rent">
                    <p>Yes, find!</p>
                </div>
            {{/link-to}}
        </div>
    </div>
    <!-- 首页大图 -->
    <div class="main-wrapper">
        <!-- 优势1 -->
        <div class="block clearfix">
            <h2>Want to rent a flat?</h2>
            <div class="block-container none-display-768">
                <div class="advantage-slide">
                    <a class="slide-img" style="background-image: url(/images/static/bg-adv-1.png)">
                        <div class="slide-txt-over-pic">
                            <div class="overlay-15"></div>
                            <img src="/images/static/1.png" />
                            <p class="slide-txt-2">EASY</p>
                        </div>
                    </a>
                    <div class="slide-txt">
                        <p>80% of apartments in the FlatmateShanghai shall in the first set the adequate price</p>
                    </div>
                </div>
                <div class="advantage-slide">
                    <a class="slide-img" style="background-image: url(/images/static/bg-adv-2.png)">
                        <div class="slide-txt-over-pic">
                            <div class="overlay-15"></div>
                            <img src="/images/static/2.png" />
                            <p class="slide-txt-2">FAST</p>
                        </div>
                    </a>
                    <div class="slide-txt">
                        <p>She found a room for one day, and meters from the residence of the former!</p>
                    </div>
                </div>
                <div class="advantage-slide no-margin-right">
                    <a class="slide-img" style="background-image: url(/images/static/bg-adv-3.png)">
                        <div class="slide-txt-over-pic">
                            <div class="overlay-15"></div>
                            <img src="/images/static/3.png" />
                            <p class="slide-txt-2">SAFE</p>
                        </div>
                    </a>
                    <div class="slide-txt">
                        <p>We provide all the nessesary documents for rent. You can of the apartment</p>
                    </div>
                </div>
            </div>
            <div class="block-container clearfix none-display-max">
                <div class="advantage-slide">
                    <a class="slide-img" style="background-image: url(/images/static/bg2.jpg)">
                        <div class="slide-txt-over-pic">
                            <p class="slide-txt-2">
                                IT IS EASY. <br/>AND IT IS SAFE WITH US<br/>
                                CONNECT WITH HOSTS, <br/>CONFIRM DATES, AND PAY— <br/>
                                ALL THROUGH SHFLAMATES<br/> TRUSTED SERVICES
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- 优势1 -->
        <!-- where2live -->
        <div class="block clearfix">
            <h2>Where to live?</h2>
            <div class="block-container live-slide-list">
                <div class="live-slide live-double-slide">
                    <a class="slide-img" style="background-image: url(/images/static/bg-pudong.png)" ></a>
                    <div class="overlay-15"></div>
                    <div class="slide-txt-over-pic">
                        <img src="/images/static/pudong.png" />
                        <p class="location">PUDONG</p>
                    </div>
                </div>
                <div class="live-slide no-margin-right with-intro margin-right-1280">
                    <a class="slide-img" style="background-image: url(/images/static/bg-hongkou.png)" ></a>
                    <div class="overlay-15"></div>
                    <div class="slide-txt-over-pic">
                        <img src="/images/static/hongkou.png" />
                        <p class="location">HONGKOU</p>
                    </div>
                </div>
                <div class="live-slide">
                    <a class="slide-img" style="background-image: url(/images/static/bg-jingan.png)" ></a>
                    <div class="overlay-15"></div>
                    <div class="slide-txt-over-pic">
                        <img src="/images/static/jingan.png" />
                        <p class="location">JING'AN</p>
                    </div>
                </div>
                <div class="live-slide margin-right-1280">
                    <a class="slide-img" style="background-image: url(/images/static/bg-xuhui.png)" ></a>
                    <div class="overlay-15"></div>
                    <div class="slide-txt-over-pic">
                        <img src="/images/static/xuhui.png" />
                        <p class="location">XUHUI</p>
                    </div>
                </div>
                <div class="live-slide no-margin-right">
                    <a class="slide-img" style="background-image: url(/images/static/bg-changning.png)" ></a>
                    <div class="overlay-15"></div>
                    <div class="slide-txt-over-pic">
                        <img src="/images/static/changning.png" />
                        <p class="location">CHANGNING</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- where2live -->
        <!-- 优势2 -->
        <div class="block clearfix none-display-768">
            <h2>Want to rent flat out?</h2>
            <div class="block-container">
                <div class="advantage-slide with-title">
                    <a class="slide-img" style="background-image: url(/images/static/Yellow.png)"></a>
                    <p class="title none-display-1100">SAVE TIME</p>
                    <div class="slide-txt">
                        <p class="title none-display-max display-1100">SAVE TIME</p>
                        <p>80% of apartments in the week. Of course, provided that you set the adequate price</p>
                    </div>
                </div>
                <div class="advantage-slide with-title">
                    <a class="slide-img" style="background-image: url(/images/static/Green.png)"></a>
                    <p class="title none-display-1100">HAVE CONTROL</p>
                    <div class="slide-txt">
                        <p class="title none-display-max display-1100">HAVE CONTROL</p>
                        <p>She found a room for one day, and meters from the residence of the former!</p>
                    </div>
                </div>
                <div class="advantage-slide with-title no-margin-right">
                    <a class="slide-img" style="background-image: url(/images/static/Red.png)"></a>
                    <p class="title none-display-1100">FOCUS ON GROWTH</p>
                    <div class="slide-txt">
                        <p class="title none-display-max display-1100">FOCUS ON GROWTH</p>
                        <p>We provide all the nessesary documents for rent. You can of the apartment</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 优势2 -->
    </div>
    <!-- 主体内容 -->
</div>

<style>
    .bg-white {
        background:transparent !important;
        color: #fff;
    }
</style>