<section id="hero">
    <div class="intro_title">
        <h1 class="animated fadeInDown">Affordable Paris tours</h1>
        <p class="animated fadeInDown">City Tours / Tour Tickets / Tour Guides</p>
        <a href="#" class="animated fadeInUp button_intro">View Tours</a> <a href="javascript:;"  class="animated fadeInUp button_intro outline">View Tickets</a>
    </div>
    <div id="search_bar_container">
        <div class="container">
            <div class="search_bar">
                            <span class="nav-facade-active" id="nav-search-in">
                            <span id="nav-search-in-content" style="">All tours</span>
                            <span class="nav-down-arrow nav-sprite"></span>
                            <select title="Search in" class="searchSelect" id="searchDropdownBox" name="tours_category">
                                <option value="All Tours" selected="selected">All Tours</option>
                                <option value="Museums" title="Museums">Museums</option>
                                <option value="Tickets" title="Tickets">Tickets</option>
                                <option value="Hotels" title="Hotels">Hotels</option>
                                <option value="Restaurants" title="Restaurants">Restaurants</option>
                            </select>
                            </span>
                <div class="nav-searchfield-outer">
                    <input type="text" autocomplete="off" name="field-keywords" placeholder="Type your search terms ...." id="twotabsearchtextbox">
                </div>
                <div class="nav-submit-button">
                    <input type="submit" title="Cerca" class="nav-submit-input" value="Search">
                </div>
            </div><!-- End search bar-->
        </div>
    </div><!-- /search_bar-->
</section><!-- End hero -->

<section class="white_bg ">
    <div class="container margin_60">
        <div class="main_title">
            <h2>Other <span>Popular</span> tours</h2>
            <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
        </div>

        <div class="row ">
            <div class="col-md-4 other_tours">
                <ul>
                    <li><a href="#"><i class="icon_set_1_icon-3"></i>Tour Eiffel<span class="other_tours_price">$42</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-30"></i>Shopping tour<span class="other_tours_price">$35</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-44"></i>Versailles tour<span class="other_tours_price">$20</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-3"></i>Montparnasse skyline<span class="other_tours_price">$26</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-44"></i>Pompidue<span class="other_tours_price">$26</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-3"></i>Senna River tour<span class="other_tours_price">$32</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 other_tours">
                <ul>
                    <li><a href="#"><i class="icon_set_1_icon-1"></i>Notredame<span class="other_tours_price">$48</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-4"></i>Lafaiette<span class="other_tours_price">$55</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-30"></i>Trocadero<span class="other_tours_price">$76</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-3"></i>Open Bus tour<span class="other_tours_price">$55</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-30"></i>Louvre museum<span class="other_tours_price">$24</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-3"></i>Madlene Cathedral<span class="other_tours_price">$24</span></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 other_tours">
                <ul>
                    <li><a href="#"><i class="icon_set_1_icon-37"></i>Montparnasse<span class="other_tours_price">$36</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-1"></i>D'Orsey museum<span class="other_tours_price">$28</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-50"></i>Gioconda Louvre musuem<span class="other_tours_price">$44</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-44"></i>Tour Eiffel<span class="other_tours_price">$56</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-50"></i>Ladefanse<span class="other_tours_price">$16</span></a>
                    </li>
                    <li><a href="#"><i class="icon_set_1_icon-44"></i>Notredame<span class="other_tours_price">$26</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div><!-- End container -->
</section><!-- End section -->

<section class="margin_60 gray_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 main_title">
                <h2>Some <span>good</span> reasons</h2>
                <p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 wow zoomIn" data-wow-delay="0.2s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-41"></i>
                    <h3><span>+120</span> Premium tours</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                    </p>
                    <a href="about.html" class="btn_1 outline">Read more</a>
                </div>
            </div>
            <div class="col-md-4 wow zoomIn" data-wow-delay="0.4s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-30"></i>
                    <h3><span>+1000</span> Customers</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                    </p>
                    <a href="about.html" class="btn_1 outline">Read more</a>
                </div>
            </div>
            <div class="col-md-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-57"></i>
                    <h3><span>H24 </span> Support</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                    </p>
                    <a href="about.html" class="btn_1 outline">Read more</a>
                </div>
            </div>
        </div>
    </div><!-- End container -->
</section><!-- End section -->
