<div class="navigation">
    <div class="container ">
        <ul>
            <li>{{#link-to 'index'}}HOME{{/link-to}}</li>
            <li>{{#link-to 'profile.dashboard'}}PROFILE{{/link-to}}</li>
            <li>{{#link-to 'profile.listing'}}LISTING{{/link-to}}</li>
            <li><a href="#">INBOX</a></li>
            <li><a href="#">WISHLIST</a></li>
            <li>{{#link-to 'about'}}ABOUTT{{/link-to}}</li>
        </ul>
    </div>
</div><!-- End Position -->