<div class="main-container">
    <div class="reset-container login-box">
        <div class="login-header">
            <p>Reset Password</p>
        </div>
        <div class="basic-content">
            <div class="login-form" >
                <div class="form-row">
                  {{input type="password" autocomplete="off" placeholder="My Secret Password" value=model.password}}
                </div>
                <div class="form-row">
                  {{input type="password" autocomplete="off" placeholder="Confirm Password" value=model.passwordConfirmation}}
                </div>
                <div class="form-row">
                    <button class="op-btn btn-confirm-reset" {{action "resetPassword"}}>Reset Password</button>
                </div>
                <div class="form-row">
                    <span class="hint"> 即表示您确认接受服务条款和隐私政策.</span>
                </div>
            </div>
        </div>
    </div>
</div>
