<style>
    .find-it{
        text-transform: initial  !important; padding-top: 10px !important; padding-bottom: 10px !important;
    }
</style>
<section class="header-video">
    <div id="hero_video" style="text-transform: none">
        <div  class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div id="login">
                    <div class="text-center">Flatmate Shanghai
                        <hr>
                        <form style="text-align: left">
                            <div class="form-group">
                              <label>New Password</label>
                              {{input class="form-control" type="password" autocomplete="off" placeholder="My Secret Password" value=model.password}}
                            </div>
                            <div class="form-group">
                              <label>Confirm password</label>
                              {{input class="form-control" type="password" autocomplete="off" placeholder="Confirm Password" value=model.passwordConfirmation}}
                            </div>
                            <div id="pass-info" class="clearfix"></div>
                            <button class="btn_full" {{action "resetPassword"}}>Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src=""  alt="" class="header-video--media" data-video-src="Zz5cu72Gv5Y"  data-teaser-source="video/test" data-provider="Youtube" data-video-width="854" data-video-height="480">
</section><!-- End Header video -->
<style>
    header{
        position:fixed !important;;
        background:transparent !important;
    }
    header .container{
        color:white !important;
    }
    header .container .icon_set_1_icon-84{
        color:white !important;
    }

    header .container strong{
        color:white  !important;
    }

</style>

